
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-8"> 
        <form [formGroup]="myForm"  (ngSubmit)="saveUser()">
            First Name:  
            <input   type="text" formControlName="firstName">
            <span class="error" *ngIf="!myForm.get('firstName')?.valid && myForm.get('firstName')?.touched">Please Enter FirstName</span> 

          <br><br>
            Email:
            <input type="text" formControlName="email">
            
            <span class="error" *ngIf="myForm.get('email')?.touched && !myForm.get('email')?.valid">

                <span *ngIf="myForm.get('email')?.hasError('required')">
                    Please Enter Email 
                </span>
                <span *ngIf="myForm.get('email')?.hasError('emailInvalid')">
                    Please Enter Valid Email 
                </span>
            </span>
            
            <br><br>
            Password: 
            <input type="password" formControlName="password"/>
            <span class="error" *ngIf="myForm.get('password')?.touched && !myForm.get('password')?.valid">

              <span *ngIf="myForm.get('password')?.hasError('required')">
                  Please Enter Password 
              </span>
              <span *ngIf="myForm.get('password')?.hasError('minlength')">
                  Please Enter Atleast 8 Characters
              </span>
          </span>
            <br><br>
            <input type="submit" value="Signup"/>
          </form>
    </div>

   

</div>
