
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-8"> 
        <form [formGroup]="myForm"  (ngSubmit)="saveUser()">
            First Name:  
            <input   type="text" formControlName="firstName">
            <span class="error" *ngIf="!myForm.get('firstName')?.valid && myForm.get('firstName')?.touched">Please Enter FirstName</span> 

          <br><br>
            Email:
            <input type="text" formControlName="email">
            <br><br>
            Password: 
            <input type="password" formControlName="password"/>
            <br><br>
            <input type="submit" value="Signup"/>
          </form>
    </div>

   

</div>
