
<div class="container"> 
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <div class="form-group"> 
             Email : <input type="text" [(ngModel)]="email" class="form-control" />  
            </div>

            <div class="form-group">

                Password : <input type="password" [(ngModel)]="password" class="form-control" /><br>
            
            </div>
            <button (click)="login()" class="btn btn-primary">Login</button>
            <br><br>
            <a routerLink="/signup">Signup</a>            
        </div>

        <div class="col-md-4"></div>

    </div>

    <br><br>

    <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
    <br>


    {{name | uppercase}}<br>
    {{name | lowercase}}<br>
    {{name | titlecase}}<br>
    {{fullName | titlecase}}<br>
    {{today}}<Br>
    {{today | date }}
    <br>
    {{today | date :'full' }}
    <br>
    {{amount}} 
    <br>
    {{amount | currency}}   
    <br>
    {{amount | currency : "INR"}}
    <br>
    <!-- <p>  {{amount | currency:'INR':'symbol':'4.2-2':'in'}}</p> -->
      
    
      <br>
     => {{ 123.45| number:'4.2-3' }}

      <br>
     => {{ 123.4| number:'4.2-3' }}
        

</div>

<!-- date number currency -->
